*{box-sizing: border-box;}
body{
    max-width: 1300px;
    margin:0 auto;
}
header h1 {
    text-align: center;
    background-color: aqua;
    padding: 30px;
    margin-bottom:0;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 0;
}

h3 {text-align: center}
header nav a{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    flex: 1 1 auto;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    margin-top: 0;
  }
  
 figcaption { text-align:center;}

main {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto;
    gap: 30px;
    padding: 0 20px;
    margin-top:20px;
    margin-bottom:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

.card h2 {
    background-color: aqua;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align:center;
}
.first-card {
    border: 1px solid gray;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#intro {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
   
}

#intro p {
    flex: 1; 
    max-width:fit-content;
    margin-left: 20px; 
}

#intro img {
    border-radius: 10px;
    flex-shrink: 0; 
    margin: 29px 30px;
    width: 250px;
    height: 200px;
    
}

#country {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
   
}

#country p {
    flex: 1; 
    margin-right: 20px; 
    width: fit-content;
}

#country img {
    border-radius: 10px;
    flex-shrink: 0; 
   
    margin: 12px 30px;
    width:fit-content;
    height:fit-content
}

.card {
    display: flex;
    flex-direction: column; 
    
  }
  
.card:first-child {
    grid-column: 1;  /* Place in the first column */
  }
  
  
  .card:last-child .resources{
    grid-column: 2;  
    border : 1px solid gray;
    border-top: none;
    border-radius: 0 0 10px 10px;
    /* max-height: auto; */
    height: 100%;
     
  }
  
  
  .resources {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

 

footer {
    text-align: center;
    background-color: aqua;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    
}

  hr {
    height: 2px;
    border: 0;
    background-color: black;
    width: 60%;
    margin: 20px auto;         
}